<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      {% load static %}
  </head>
<body>
{#<script src="{% static 'pages/dashboard-demo.js' %}"></script>#}
{#    <script src="{% static 'js/theme.js' %}"></script>#}
<script type="module">
    //import * as THREE from "{% static 'js/three.module.js' %}";// const a = [];
var cars=new Array();
cars[0]="Saab";
cars[1]="Volvo";
cars[2]="BMW";
   cars = null;
    console.log('a/'+cars);

//    console.log('a/'+a);

    // onmouseover onmouseout onkeydown

</script>

</body>
       </html>